<mat-toolbar color="primary">
  <span>
  Aplikasi My Angular
  </span>
  <span class="spacer"></span>
  <button mat-button (click)="buatAlamat()">Tambah Alamat</button>
  </mat-toolbar>
  <div class="container">
    <mat-card>
    <mat-card-header>
      <mat-card-title>Daftar Alamat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="assets/a.png" alt="...">
          <h3 matLine> Nama Lengkap </h3>
          <p matLine>
            <span> nama@domain.com </span>           
          </p> 
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="detailAlamat()">Detail</button>
            <button mat-menu-item>Edit</button>
            <button mat-menu-item>Delete</button>
          </mat-menu>
           
        </mat-list-item>
      </mat-list>
     </mat-card-content>
    </mat-card>
    </div>